<form class="lc-block toggled" ng-submit="vm.login(vm.credentials)" onsubmit="return false;" name="loginForm" sa-form-autofill-fix>
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
        <div class="fg-line">
            <input type="email" name="username" class="form-control" placeholder="E-mail" autofocus autofill ng-model="vm.credentials.username" required>
        </div>
    </div>

    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
        <div class="fg-line">
            <input type="password" name="password" class="form-control" placeholder="Пароль" autofill ng-model="vm.credentials.password" required>
        </div>
    </div>

    <div class="clearfix"></div>
    <button class="btn btn-login btn-danger btn-float" ng-disabled="loginForm.$invalid" type="submit">
        <i class="zmdi zmdi-arrow-forward"></i>
    </button>
</form>
